<div class="container-fluid">

    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">Projets progression</h4>
                </div>
                <div class="card-content">
                    <div class="card-content">
                        <canvas baseChart *ngIf="autorisation"
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">Temps estimé</h4>
                </div>
                <div class="card-content">
                    <canvas *ngIf="autorisation"
                            baseChart
                            [data]="polarAreaChartData"
                            [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend"
                            [chartType]="polarAreaChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div *ngFor="let project of fprojects" class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="red" *ngIf="project.progress < 50">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-header" data-background-color="green" *ngIf="project.progress >= 50">
                    <i class="material-icons">content_copy</i>
                </div>
                <div class="card-content">
                    <h3>{{ project.title }}</h3>
                    <small>Membres :</small>
                    <p class="title">{{ project.nbrmembre }}

                    </p>
                    <small>Progression :</small>
                    <p class="title">{{ project.progress }} %
                    </p>
                    <small>Temps estimé :</small>
                    <p class="title">{{ project.time }} H
                    </p>
                </div>
                <!--<div class="card-footer">-->
                    <!--<div class="stats">-->
                        <!--<i class="material-icons">date_range</i> Recent project-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>

    </div>
</div>