<div class="container" *ngIf="autorise">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">{{ myProjet.name }}</h4>
                    <p class="category"> {{ myProjet.description }} </p>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-top: 15px">
                            <i class="fa fa-calendar">&nbsp;&nbsp;&nbsp;Date création : {{ myProjet.created }}</i>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6" style="padding-top: 15px">
                            <i class="fa fa-calendar">&nbsp;&nbsp;&nbsp;Dérnière de mise a jour : {{ myProjet.updated
                                }}</i>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <a href="#" class="btn btn-round btn-sm btn-fill btn-success" routerLink="/panel/project/edit/{{ myProjet.id }}">Modifier</a>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3">
                            <a  class="btn btn-round btn-sm btn-fill btn-danger" (click)="onDelete(myProjet.id)">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="green">
                    <h4 class="title">Manager</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-xs-12" style="text-align: center" *ngFor="let manager of managers">
                            <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ manager.name }}
                        </div>
                    </div>

                    <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-success">-->
                                <!--<i class="fa fa-plus-circle"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Ajouter-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-danger">-->
                                <!--<i class="fa fa-trash"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Supprimer-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">Developpeurs</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-xs-12" style="text-align: center" *ngFor="let member of devlopers">
                            <i class="fa fa-user-circle-o"></i> {{ member.name }}
                        </div>
                    </div>

                    <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-success">-->
                                <!--<i class="fa fa-plus-circle"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Ajouter-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-danger">-->
                                <!--<i class="fa fa-trash"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Supprimer-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="red">
                    <h4 class="title">Testeurs</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-xs-12" style="text-align: center" *ngFor="let member of tests">
                            <i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ member.name }}
                        </div>
                    </div>

                    <!--<div class="row">-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-success">-->
                                <!--<i class="fa fa-plus-circle"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Ajouter-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="col-xs-6">-->
                            <!--<a href="#" class="btn btn-round btn-sm btn-fill btn-danger">-->
                                <!--<i class="fa fa-trash"></i>-->
                                <!--&nbsp;&nbsp;&nbsp;&nbsp;-->
                                <!--Supprimer-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">Progression des demandes</h4>
                </div>
                <div class="card-content">
                    <canvas
                            baseChart
                            [data]="polarAreaChartData"
                            [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend"
                            [chartType]="polarAreaChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card">
                <div class="card-header text-center" data-background-color="blue">
                    <h4 class="title">Progression du projet</h4>
                </div>
                <div class="card-content">
                    <canvas
                            baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

